spring.application.name=Lab1

spring.datasource.url=jdbc:postgresql://localhost:5432/studs
spring.datasource.username=<CHANGE>
spring.datasource.password=<CHANGE>

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

server.port=16036